<div>
    <h3>
        Hello {{username}}
    </h3>
    <div class='container'>
        <div class='row'>
            <div class=col-4>
                <a routerLink="">Dashboard</a>
                <hr/>
                <a routerLink="dashboard">Dashboard</a>
                <hr/>
                <a routerLink="Profile">Profile</a>
                <hr/>
                <a routerLink="Settings">Settings</a>
                <hr/>
            </div>
            <div class ='col-5'>
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>>

