<div>
    <h3>MDF Demo!!</h3>
    <app-success></app-success>
    <form [formGroup] = "profile" (ngSubmit)= "handleSubmit()">
       <div class = 'row'>
           <div class= 'col-5'>
            <div>
                FirstName: <input type='text' formControlName ='firstName' class= 'form-control' />
                <div class= 'alert alert-danger'
                [hidden]= "profile.controls['firstName'].valid || profile.controls['firstName'].pristine">
                FirstName must be more than 3 characters
            </div>
            </div>
           </div>
       </div> 
       <div class = 'row'>
        <div class= 'col-5'> 
        <div>
            LastName: <input type= 'text' formControlName = 'lastName'/>
            <div class= 'alert alert-danger'
            [hidden] = "profile.controls['lastName'].valid || profile.controls['lastName'].pristine">
            LastName must be more than 2 characters
        </div>
        </div>
    </div>
    </div>
    <div class='row'>
        <div class= 'col'>
            <div>
                <input  type= "submit" value= "Submit" [disabled]= "profile.invalid" class ='btn btn-primary'/>
            </div>
        </div>
    </div>
    </form>
    <div>
    <p>Form is valid: {{profile.valid}}</p>
    <p>FirstName is valid : {{profile.controls['firstName'].valid}}</p>
    <p>LastName Pristine : {{profile.controls['lastName'].pristine}}</p>
    </div>
</div>>