<div><h3>Search Employees</h3>
<!-- <form [formGroup]=" employee" (ngSubmit)="handleClick()">
    <label>
        Enter id
        <input type= 'number' formControlName ='id'/>

    </label>
    <input type='submit' value='Search'  class= 'btn btn-primary'/>

   
</form>
<div *ngIf="emp" class= 'text-success'>
    Hello {{emp.name}} your age is {{emp.age}};
</div>
<div *ngIf=" errormessage" class ='text-danger'>
    {{errormessage}}
</div> -->
<h3>Angular App</h3>
<div>
    <a routerLink="LoadByID ">Employee</a> 
    <a routerLink="LoadAll ">All Employees</a> 
    <a routerLink="tdf ">TDF</a> 
    <a routerLink="mdf ">MDF</a> 
</div>
<router-outlet></router-outlet>
</div>

